/* Styles */
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
}

/* Login styles */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  width: 300px;
  height: 200px;
  margin-top: calc(50vh - 100px);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2px;
}

.add-blog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 200px;
  border: 1px solid grey;
}

.add-blog-form input[type='submit'] {
  margin: 20px 0;
}

#login-button {
  margin: 10px 0;
  width: 100px;
  height: 30px;
}

/* Blog styles */

.header {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header button {
  height: 20px;
}

.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 5px;
}

.blog-container {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 80%;
  /* padding: 5px; */
}

.blog-container h2,
.blog-container h4,
.blog-container p {
  margin: 5px 5px;
}

/* Notification styles */
